<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>

  <main>
    <section id="enroll">
      <h1>Enter your name:</h1>
      <form action="/" method="post">
        <input type="text" name="name" placeholder="Name..." maxlength="15" pattern=".*\S+.*" autofocus required>
        <button type="submit">
          <i class="fa-regular fa-paper-plane-top" style="color: #ff7459;"></i>
        </button>
      </form>
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>