<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main>
        <h1>Welcome to Papiamentu Trivia, <p id="name"><%- name %></p></h1>
        <div id="trivia">
            <section id="question-answers-options">
                <div id="question-answers">
                    <h2>Give the english translation of: </h2>
                    <div id="overlay">
                        <div>
                            <div id="loader"></div>
                            <p></p>
                        </div>
                    </div> 
                    <p id="question"><%- data.pap %></p>
                    <p id="description"></p>
                </div>
            </section>
            <div id="players-chat">
                <section id="players">
                    <h2>Players</h2>
                    <p id="connected"></p>
                    <ul></ul>
                </section>
                <section id="chat">
                    <h2>Chat</h2>
                    <span id="spacing"></span>
                    <ul></ul>
                    <p id="typing"></p>
                    <form class="message-input">
                        <input type="text" id="message-input" autocomplete="off" placeholder="Type your message..">
                        <button type="submit" id="message-button"><span class="material-symbols-outlined">Send</span></button>
                    </form>
                </section>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>