* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --background-color: #f8cec6;
    --background-white: white;
}

body {
    background: var(--background-white);
    height: 100vh;
    width: 100%;
}

header {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

header div {
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div h1 {
    margin: 10px;
    text-align: center;
}

img[target=logo] {
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
    border-radius: 50%;
}

h1,
h2,
p {
    text-align: center;
}

section {
    background: var(--background-color);
    border-radius: 25px;
    padding: 20px;
}

section#enroll {
    height: fit-content;
    margin: 0 auto;
}

#enroll form,
#chat form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

form input[type="text"] {
    font-family: Poppins, system-ui;
    background: #f5f7fb;
    border: none;
    border-radius: 25px;
    width: 90%;
    padding: 15px 25px;
}

form button {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    background: #f04b2a;
    border: solid 2px #f3907c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#trivia {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    gap: 1em;
}

#trivia section:nth-of-type(1) {
    width: 100%;
    height: 15em;
    display: flex;
    flex-direction: column;
}

#question-answers-options {
    height: 90vh;
}

#question-answers {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#overlay.show {
    display: flex;
}

#overlay>div {
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

#loader {
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3aa68b;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#question {
    text-align: center;
}

#players-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1em;
}

#trivia #players {
    height: 11.5em;
}

#players #connected {
    width: 50%;
    font-size: small;
    margin: 0 auto 8px auto;
}

#players #connected span {
    height: 10px;
    width: 10px;
    background: #3aa68b;
    border-radius: 50%;
    display: inline-block;
    animation: pulse 1s linear 0s infinite alternate;
    margin-right: 5px;
}

@keyframes pulse {
    from {
        background: #3aa68b;
    }

    to {
        background-color: #9dd3c5;
    }
}

ul {
    list-style-type: none;
    overflow: scroll;
    padding-left: 0;
    margin: 0;
}

#players ul {
    width: 50%;
    margin: 0 auto;
}

#players li {
    font-weight: bold;
}

#players li::first-letter {
    text-transform: uppercase;
}

#score {
    font-weight: normal;
    float: right;
}

#chat {
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 24px;
}

#spacing {
    flex-grow: 1;
}

#chat li {
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
}

#chat li #name {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
}

#chat li.self #name,
#chat li.multiple #name {
    display: none;
}

#chat li #message {
    color: black;
    background: #f5f7fb;
    border-radius: 0 25px 25px 25px;
    width: 60%;
    padding: 10px 25px;
    height: 5em;
    font-size: medium;
}

#chat li #message span::first-letter {
    text-transform: uppercase;
}

#chat li.self #message {
    background: var(--background-white);
    border-radius: 25px 0 25px 25px;
    margin-left: auto;
    border: 1.5px solid salmon;
}

#chat li #message p {
    word-break: break-word;
    display: inline;
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: medium;
    font-style: italic;
}

#chat li #message .time {
    color: grey;
    font-size: smaller;
    float: right;
}

#chat li.self #message .time {
    color: salmon;
}

#typing {
    font-size: small;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    #trivia {
        flex-direction: row;
        gap: 10px;
    }

    #question {
        margin-bottom: 32px;
    }

    #answers {
        height: 50%;
    }

    select {
        font-size: unset;
    }

    #players-chat {
        gap: 10px;
        flex-shrink: unset;
    }

    #chat {
        margin-bottom: unset;
        height: 46.8em;
    }

    #trivia section:nth-of-type(1) {
        height: 59em;
    }
}

/* Laptop */
@media only screen and (min-width: 1048px) {
    input {
        width: 70%;
    }

    #trivia {
        flex-direction: row;
        gap: 10px;
    }

    #chat {
        height: 34.8em;
    }

    #trivia section:nth-of-type(1) {
        height: 46.9em;
    }
}
.error{
    display: none;
}
.error-message .socket-disconnected {
    border: none;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
}

/* .socket-disconnected::before {
    content: "You are offline.";
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
} */

.hit-the-floor {
    color: var(--dark-teal-blue);
    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow:
        0 1px 0 var(--darkest-teal-blue),
        0 2px 0 var(--darkest-teal-blue),
        0 3px 0 var(--darkest-teal-blue),
        0 4px 0 #284f5b,
        0 5px 0 #18343c,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}
